body {
    background-color: #000;
}

* {
    box-sizing: border-box;
}

.main {
    width: 100%;
    height: 100vh;
    max-height: auto;
    background-color: #000;
}

.nav-bar1 {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #000;
    align-items: center;
    padding: 10px;
    border-width: 0px;
    border-bottom-width: 2px;
    border-style: solid;
    border-color: gray;
    position: fixed;
    top: 0px;
    z-index: 10;


}

@media all and (max-width:767px) {
    .nav-bar1 {
        display: none;
    }
}

.img1 {
    width: 50px;
    height: 50px;
    margin: 5px;
}

.head1 {
    font-size: 40px;
    font-family: "Roboto";
    color: lightgreen;
    font-weight: 700;
}

.con-1 {
    display: flex;
    align-items: center;
    background-color: transparent;
    margin: 5px;
    width: auto;
    height: auto;
}

.btn1 {
    color: gray;
    background-color: transparent;
    border-width: 0px;
    width: auto;
    height: auto;
}

.btn2 {
    color: black;
    background-color: #fff;
    width: 80px;
    padding: 15px;
    border-width: 0px;
    border-radius: 20px;
}

.nav-bar2 {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #000;
    align-items: center;
    padding: 10px;
    border-width: 0px;
    border-bottom-width: 2px;
    border-style: solid;
    border-color: gray;
    position: fixed;
    top: 0px;
    z-index: 10;

}

.con-2 {
    display: flex;
    align-items: center;
}


@media all and (min-width:767px) {
    .nav-bar2 {
        display: none;
    }

}

@media all and (max-width:767px) {
    .img1 {
        width: 25px;
        height: 25px;
        margin: 5px;
    }

    .head1 {
        font-size: 25px;
        font-family: "Roboto";
        color: lightgreen;
        font-weight: 700;
    }

    .con-1 {
        display: flex;
        align-items: center;
        background-color: transparent;
        margin: 3px;
        width: auto;
        height: auto;
    }

    .btn1 {
        color: gray;
        background-color: transparent;
        border-width: 0px;
        width: auto;
        height: auto;
    }

    .btn2 {
        color: black;
        background-color: #fff;
        width: 80px;
        padding: 5px;
        border-width: 0px;
        border-radius: 20px;
    }
}

.container-1 {
    width: 100%;
    height: calc(100vh - 70px);
    margin-top: 70px;
    padding-top: 0px;
    background-color: red;
}

.slide-1 {
    width: 30%;
    height: calc(100vh - 70px);
    position: fixed;
    top: 70px;
    background-color: #000;
    border-width: 0px;
    border-right-width: 7px;
    border-style: solid;
    border-color: gray;
    padding: 10px;

}

.slide-2 {
    width: 70%;
    height: calc(100vh - 70px);
    background-color: white;
    margin-left: 30%;
    padding: 0px;
}

@media all and (max-width:767px) {
    .slide-1 {
        display: none;
    }

    .slide-2 {
        width: 100%;
        margin-left: 0%;
    }
}

.con-11 {
    height: auto;
    width: 100%;
    background-color: #000;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.con-22 {
    height: auto;
    width: 100%;
    background-color: #000;
    padding: 15px;
    border-width: 0px;
    border-top-width: 7px;
    border-style: solid;
    border-color: gray;
}

.input1 {
    background-color: transparent;
    width: 90%;
    height: 35px;
    color: gray;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    outline: none;
}

.button11 {
    height: 40px;
    width: 130px;
    color: #000;
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-width: 0px;
}

.para22 {
    font-family: "Roboto";
    font-size: 18px;
    color: gray;
    margin-bottom: 8px;
}

.head00 {
    font-weight: bold;
    font-size: 25px;
    color: #fff;
    margin-bottom: 8px;
}

.con-00 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding: 2px;
    margin-top: 25px;
}

.spam1 {
    font-size: 18px;
    color: gray;
    list-style-type: none;
    margin: 15px;
    font-family: "Roboto";

}

.input2 {
    background-color: transparent;
    width: 90%;
    height: 35px;
    color: gray;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    outline: none;
    display: none;
    padding: 5px;
    align-self: center;
    margin: 15px;
}

@media all and (max-width:767px) {
    .input2 {
        display: inline;
    }
}

.head22 {
    padding-left: 10px;
    color: #fff;
    font-family: Sans-Serif;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 1px;
}

.popular-container {
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.artists1 {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 15px;
    height: 230px;
    width: 160px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.img11 {
    margin: 6px;
    width: 120px;
    height: 120px;
    border-radius: 110px;
}

.img22 {
    width: 40Px;
    height: 40px;
    position: absolute;
    top: 85px;
    right: 10px;
    border-radius: 30px;
    display: none;
}

.head33 {
    color: #fff;
    margin-bottom: 3px;
    font-size: 18px;
}

.para33 {
    color: #fff;
    margin-bottom: 3px;
    font-size: 14px;
}

.artists1:hover .img22 {
    display: inline;
}

.artists1:hover {
    background-image: linear-gradient(black, gray);
}

@media all and (max-width:767px) {
    .head22 {
        font-size: 20px;
    }

    .img11 {
        margin: 4px;
        width: 70px;
        height: 70px;
        border-radius: 40px;
    }

    .img22 {
        width: 20Px;
        height: 20px;
        position: absolute;
        top: 45px;
        right: 10px;
        border-radius: 10px;
        display: none;
    }

    .head33 {
        color: #fff;
        margin-bottom: 1px;
        font-size: 10px;
    }

    .artists1 {
        margin-top: 3px;
        margin-bottom: 5px;
        margin-left: 10px;
        height: 150px;
        width: 90px;
    }

    .para33 {
        color: #fff;
        margin-bottom: 1px;
        font-size: 8px;
    }
}

.img3 {
    margin: 6px;
    width: 150px;
    height: 150px;
}

@media all and (max-width:767px) {
    .img3 {
        margin: 4px;
        width: 80px;
        height: 80px;
    }
}

.footer-1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer-2 {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    padding: 0px;
    width: auto;
    height: auto;
    margin-right: 25px;
}

.list1 {
    width: auto;
    background-color: transparent;
    list-style-type: none;
}

.head {
    color: #fff;
    font-family: bold;
    text-decoration: underline;
}

a {
    color: gray;
    text-decoration: underline;
}